<!-- Footer -->
<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">

        <p>&copy; 2015 {{site.sitename()}}. All rights reserved.
            by <a href="https://twitter.com/fat" target="_blank">@nobsu</a>.</p>
        <ul class="bs-docs-footer-links text-muted">
            <li>当前版本： v3.3.5</li>
            <li>&middot;</li>
            <li><a href="https://github.com/nobsu">GitHub 仓库</a></li>
            <li>&middot;</li>
            <li><a href="../about/">关于</a></li>
            <li>&middot;</li>
        </ul>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://v3.bootcss.com/assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>

